# 二进制资源不做文本处理（避免 diff/merge 误伤）
*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.webp binary
*.ico  binary
*.wav  binary
*.ogg  binary
*.mp3  binary
*.glb  binary
*.blend binary
*.ttf  binary
*.otf  binary
*.tpz  binary
*.exe  binary
*.pck  binary
*.zip  binary
